@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12pt;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Pretendard-Regular';
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  min-height: 100vh;
	line-height: 1;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:visited {
    text-decoration: none;
    color: royalblue;
}

header {
  font-size: 18pt;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

header > h1 {
  
}
main {
  flex-grow: 1;
}
footer {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 14pt;
  background-color: #bbb;
}
section {
  margin: auto;
}
div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
div::-webkit-scrollbar {
  display: none;

}
section.search {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    padding: 10px;
    gap: 10px;
    border: 1px solid #eee;
    
}

section.search >ul {
    display: flex;
    align-items: center;
    gap: 10px;;
}

section.search >ul>li>input {
  width: 400px;
}

section.search >div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;

}

section.search >div:first-child {
  height: 30px;
  line-height: 30px;
  justify-content: center;
}

section.search >div:first-child {
  background-color: #eee;

}

section.container {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #eee;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

section.container >div {
  min-height: 300px;
  max-height: 500px;
  padding: 20px;
  overflow-y: scroll;
  height: 100%;
}
section.container >div:first-child {
  flex: 2 1 0;
}

section.container >div:last-child {
  border: 1px solid #eee;
  flex: 1 1 0;
}

section.container div.history_label {
  display: flex;
  justify-content:space-between;
  height: 30px;
  line-height: 30px;
  background-color: #eee;
}
section.container ul {
  
}

section.container li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  flex: 1 1 0;
}

section.container li:hover {
  background-color: #eee;
  border-bottom: 1px solid;
}

section.container li::marker {
  content: url("/bookmark-check-fill.svg");
  
}

p.wording {
  font-size: 16pt;
  line-height: initial;
  font-family: 'GangwonEdu_OTFBoldA' ;
}
p.description::before {
  content: '-';
}
p.description {
  line-height: initial;
  margin: 12px;
}

.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('https://i.stack.imgur.com/FhHRx.gif')
  50% 50%
  no-repeat;
}

body.loading {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}