{% extends "accounts/base.html" %}
{% block 'contents' %}

<div class="main">
  <div class="container">
    <h2 class="title">프로필</h2>
    <p class="description">
      
    </p>
    
    <form action="" method="post" enctype="multipart/form-data" class="d-flex flex-column">
        {% csrf_token %}
        <div class="form-floating mb-3">
          {{ form.email }}
          <label class="label-width" for="user-email">{{form.email.label}}</label>
        </div>
        <div>
          {{form.errors.email}}
        </div>
        <div class="form-floating mb-3">
          {{form.nickname}}
          <label class="label-width" for="user-nick">{{form.nickname.label}}</label>
        </div>
        <div>
          {{form.errors.nickname}}
        </div>
        <div class="mb-3">
          <label for="id_{{ form.profile_image.name }}" class="form-label">{{ form.profile_image.label }}</label>
          <div>
            {{ form.profile_image }}
          </div>

        </div>
        <div>
          {{form.errors.profile_image}}
        </div>
        <div>
          <label class="label-width" for="user-nick">{{form.password.label}}</label>
          <p>비밀번호를 수정하려면 <a class="btn btn-outline-success" href="{% url "password_change" user.id %}">여기</a><br>에서 수정할 수 있습니다.</p>
        </div>
        
        <button class="submit-button" type="submit">변경</button>
    </form>
    
  </div>
</div>
{% endblock 'contents' %}

